version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: vistra_db
      MYSQL_USER: vistra_user
      MYSQL_PASSWORD: Vistra@123456
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - vistra-network

volumes:
  mysql_data:
    driver: local

networks:
  vistra-network:
    driver: bridge
